/* =========================================================
   👤 About Section
   Author: Ting Sun
   Project: MyResume (React + Vite)
   Description: About section with profile content, list, and icons.
   ========================================================= */

@use "./variables";

/* ----------------------------
   Profile Section (About)
---------------------------- */
.profile-section {
  background-color: #f9fafb;
  padding: 80px 0;

  .profile-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    color: #333;

    p {
      font-size: 1rem;
      line-height: 1.8;
      color: #444;
      margin-bottom: 26px;
    }

    .sous-text {
      font-style: italic;
      color: #2b7a69;
      font-size: 1.05rem;
      letter-spacing: 0.3px;
      margin-top: 20px;
    }
  }
}

